imgs/*
outputs/*
adapters/*
base_model/*
check_quota.py
api_key.txt
.DS_Store
_model_selection_outputs
training_dataset/
test/
test_dataset.jsonl
data/
outputs_mode1/
outputs_mode2/
outputs_mode3/
data.py
